div[role=row] {
	// border-top: 1px solid black;
	// border-bottom: 1px solid black;
	// background-color: rgb(208, 202, 202);
}

.t-header {
	border: none;
	background-color: none;

}

.table {
	box-sizing: border-box;
	overflow: auto;
	border: 1px solid black;
	position: relative;
	height: 100vh;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: auto;
}

.table .header-container{
	white-space: nowrap;
	height: 30px;
	width: 100%;
	position: relative;
	border: 1px solid black;
}
.main-layout .ag-header-row{
	position: relative;
	width: 100%;
	background: black;
}
// .ag-header-row {
// 	position: absolute;
// 	top: 0px;
// 	width: 100%;
// }
.header-container {
.cstm-header-cell {
	position: absolute;
	border-right: 1px solid #f1f4f8;
    line-height: 22px;
    height: 30px;
    padding: 5px;
}
}

.ag-header-cell{
	position: absolute;
	border-right: 1px solid #f1f4f8;
	font-size: 14px;
	line-height: 20px;
	height: 30px;
}

.btns {
	padding: 5px;
}

.t-0{
	top:0
}

.pp-row{
	display: flex;
}

.viewPort {
	position: relative;
	width: 100%;
	border: solid 1px;
	overflow-y: scroll;
  }

  .header-container{
	position: sticky;
	top: 0;
	z-index: 34;
	background-color: #f1f4f8;
	height: 30px;
	
}
  
  .itemContainer {
	position: absolute;
	width: 100%;
	background-color: #fff;
	// height: 500px !important;
  
  }
  .addContainer {
	position: sticky;
	top: 47;
	width: 100%;
	background-color: black;
	z-index: 50;
	top: 30px;
  }
  
  .item {
	position: absolute;
	// background-color: #fff;
	border: solid 1px #f1f4f8;
	width: 100%;
	// text-align:center;
	// border-bottom: 1px solid #f1f4f8;
  }
  
  .done {
	color: rgba(0, 0, 0, 0.3);
	text-decoration: line-through;
  }

  .selected-cell{
	box-shadow: rgb(35 131 226 / 57%) 0px 0px 0px 1px inset, rgb(35 131 226 / 35%) 0px 0px 0px 2px;
	z-index: 1;
	border: 0;
	border-radius: 3px;
  }
  