.viewPort {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	width: 100%;
	background-color: #f1f4f8;

}

.abc {
	height: 100%;
	position: relative;
	overflow: auto;
}


.AQ123 {
	overflow-x: scroll;
	overflow-y: hidden;
	padding-right: 20px;
	&::-webkit-scrollbar {
		display: none;
	}
}

.table-header-container {
	width: 100%;
	height: 30px;
	position: relative;
}


.ag-body-horizontal-scroll {
	height: 17px;
}

.table-row {
	display: flex;
}

.table-main-content {
	position: absolute;
}

.table-row {
	position: absolute;
	border: none;
	width: 100%;
	font-weight: 600;
	font-size: 11px;

	.table-cell {
		&:first-child {
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}

		&:last-child {
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
}


.table-cell.editable:hover {
	background-color: #DBE2EB;
}

.form-control {
	display: block;
	width: 100%;
	padding: 8px 0;
	font-weight: 400;
	line-height: 15px;
	color: #172a41;
	background: #F1F4F8;
	background-clip: padding-box;
	border: 0px solid #bfccda;
	border-radius: 3px;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	text-overflow: ellipsis;
	box-sizing: border-box;
}

input.bg-transparent.form-control:focus-visible {
	outline: inherit;
}

.cell-selected {
	box-shadow: rgb(35 131 226 / 57%) 0px 0px 0px 1px inset, rgb(35 131 226 / 35%) 0px 0px 0px 2px;
	z-index: 1;
	border: 0;
	border-radius: 3px;
	outline: none;
}

.table-cell {
	position: absolute;
	border-right: 1px solid #f1f4f8;
	border-bottom: 1px solid #f1f4f8;
	background-color: #fff;
	font-size: 14px;
	line-height: 20px;
	height: 40px;
	box-sizing: border-box;
	padding: 4px 10px;
}

.column-transition{
	transition: left .2s;
}
.table-header-container {
	.table-header-cell {
		position: absolute;
		border-right: 1px solid #f1f4f8;
		line-height: 22px;
		height: 30px;
		// display: flex;
		// align-items: center;
		.table-header-info {
			padding: 5px;
		}
	}
}

.header-cell-content{
	display: flex;
}


.table .table-header-container {
	white-space: nowrap;
	width: 100%;
	position: relative;
	border: 1px solid black;

}

.table-cell:focus-visible {
	outline: none;
}

.table-add-newrow {
	position: sticky;
	z-index: 50;
	top: 30px;
	border: 1px solid black;
	background-color: white;
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}


.editor-container {
	background-color: #F1F4F8 !important;
	box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
}